/* body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #009579;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url(/static/bg.jpg);
    background-size: 96.9%;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.maintext {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
}

.maintext h1 {
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.maintext p {
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    font-size: 25px;
}

header {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.logo {
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a.active,
nav ul li a:hover {
    background: #069370;
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    .menu-toggle:before {
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before {
        content: '\f00d';
    }
    nav {
        display: none;
    }
    nav.active {
        display: block;
        width: 100%;
    }
    nav.active ul {
        display: block;
    }
    nav.active ul li a {
        margin: 0;
    }
}


/*Header Ends*/


/*Footer STARTS*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li .facebook:hover {
    background: #3b5998;
}

.sci li .twitter:hover {
    background: #00acee;
}

.sci li .instagram:hover {
    background: #405DE6;
}

.sci li .youtube:hover {
    background: #FF0000;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info p {
    margin-top: 0px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    vertical-align: middle;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}