@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url(/static/bg.jpg);
    background-size: 96.9%;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.back {
    text-decoration: none;
    transition: background 0.25s;
    cursor: pointer;
    display: inline-block;
    font-family: 'Bebas Neue';
    color: #143D59;
    letter-spacing: 3px;
    background-color: #F4B41A;
    font-size: 35px;
    padding: 35px;
    border-radius: 10px;
}

.back:hover,
.back:active {
    background-color: #ffbf00;
    color: #4CAF50;
}

.postbtn {
    text-decoration: none;
    transition: background 0.25s;
    cursor: pointer;
    display: inline-block;
    font-family: 'Bebas Neue';
    color: #143D59;
    letter-spacing: 3px;
    background-color: #F4B41A;
    font-size: 35px;
    padding: 35px;
    border-radius: 10px;
}

.postbtn:hover,
.postbtn:active {
    background-color: #ffbf00;
    color: #4CAF50;
}

.header h1 {
    font-size: 45px;
}

.header p {
    font-size: 25px;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

.maintext {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
}

.maintext h1 {
    text-decoration: underline;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.maintext p {
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    font-size: 25px;
}

.maintext object p {
    color: grey;
    font-size: 20px;
}

.posts {
    /* border: none; */
    border-top: 8px solid #4CAF50;
    border-bottom: 8px solid #4CAF50;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    /* border-radius: 2px; */
    /* border-width: 3px; */
}

.pdfsh {
    /* border: none; */
    border-top: 8px solid #960018;
    border-bottom: 8px solid #960018;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    /* border-radius: 2px; */
    /* border-width: 3px; */
}

@media (max-width: 1200px) {
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header h1 {
        font-size: 30px;
    }
    .header p {
        font-size: 10px;
    }
}


/* Header ENDS */


/*Footer STARTS*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li .facebook:hover {
    background: #3b5998;
}

.sci li .twitter:hover {
    background: #00acee;
}

.sci li .instagram:hover {
    background: #405DE6;
}

.sci li .youtube:hover {
    background: #FF0000;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li {
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info p {
    margin-top: 0px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    vertical-align: middle;
    text-decoration: none;
}

.contact .info li a:hover {
    color: #fff;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    footer {
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quicklinks,
    .contact {
        width: 100%;
    }
    .copyrightText {
        padding: 8px 40px;
    }
}